.gallery {
  margin: 80px auto;
  width: 90%;
  text-align: center;
}

.gallery img {
  transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .gallery {
    width: 95%;
  }
}

@media (max-width: 400px) {
  .gallery {
    width: 100%;
  }
}