@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url(../assets/gdscTeam.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  max-width: 800px;

}

.hero-text h1 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero-text p {
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

.hero-text img {
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 50%;
  margin-top: -12%;
  margin-bottom: -12%;
}